{% extends 'non/base.html' %}
{% load widget_tweaks %}
{% block head %}
   {% load static %}
   <link rel="stylesheet" href="{% static 'non/stylesheets/signup/style.css' %}">
{% endblock %}

{% block body %}
   <main class="main">
      <section class="register">
         <div class="container">
            <div class="register__inner">
               <div class="register__logo logo">
                  NotOnlyNotes
               </div>
               <div class="register__block">
                  <div class="register__content">
                     <h1 class="register__header">Регистрация</h1>
                     <div class="register__instruction">Уже есть аккаунт? <a class="link" href="{% url 'login' %}">Войдите!</a></div>
                     <form class="register__form" method="POST">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="regiter__form-input-group">
                              {{ form.username.errors }}
                              <label class="register__form-name" for="username">Имя пользователя</label>
                              {{ form.username|add_class:"register__form-input" }}
                        </div>

                        <div class="regiter__form-input-group">
                           {{ form.email.errors }}
                           <label class="register__form-name" for="email">E-mail</label>
                           {{ form.email|add_class:"register__form-input" }}
                        </div>

                        <div class="regiter__form-input-group">
                              {{ form.password.errors }}
                              <label class="register__form-name" for="password1">Пароль</label>
                              {{ form.password1|add_class:"register__form-input" }}
                        </div>

                        <div class="regiter__form-input-group">
                           {{ form.password.errors }}
                           <label class="register__form-name" for="password1">Пароль ещё раз</label>
                           {{ form.password2|add_class:"register__form-input" }}
                     </div>
                     
                        <input class="register__btn btn" type="submit" value="Создать аккаунт">
                     </form>
                  </div>
                  <div class="register__decorative">
                     <img class="register__img" src="{% static 'non/img/signup/register-img.png' %}" alt="">
                     <p class="register__politics">Нажимая «Создать аккаунт», вы подтверждаете, что ознакомились с положениями, указанными в статьях <span>Пользовательское Соглашение</span> и <span>Политика Конфиденциальности</span></p>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>
{% endblock %}