{% extends 'non/base.html' %} {% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'NONapp/stylesheets/account.css' %}">
<title>User</title>
{% endblock %} {% block header %} 
{% endblock %} {% block body %}
<main>
    <div class="content-wrapper">
        <div class="media">
            <div class="userimage">
                
            </div>
            <div class="userinfo">
                
            </div>
        </div>
            
            
    </div>
</main>
{% endblock %}