{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'non/stylesheets/base.css' %}">
    <link rel="stylesheet" href="{% static 'non/stylesheets/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'non/stylesheets/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'non/stylesheets/overall.css' %}">
    <link rel="stylesheet" href="{% static 'non/stylesheets/global.css' %}">
    <link rel="stylesheet" href="{% static 'non/stylesheets/variables.css' %}">

    {% block head %} {% endblock %}
    
    {% if title %}
        <title>Not Only Notes – {{ title }} </title>
    {% else %}
        <title>Not Only Notes </title>
    {% endif %}
</head>

<body onscroll="gotop()">
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    {% block body %} {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

{% block afterscripts %}{% endblock %}
<script src="{% static 'non/js/topdown-navigation.js' %}?version=1"></script>
</html>