{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'non/stylesheets/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'non/stylesheets/global.css' %}">
    <link rel="stylesheet" href="{% static 'non/stylesheets/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'non/stylesheets/overall.css' %}">
    <link rel="stylesheet" href="{% static 'non/stylesheets/variables.css' %}">
    {% block head %} {% endblock %}
</head>

<body onscroll="gotop()">
    {% block body %} {% endblock %}
</body>

{% block afterscripts %}{% endblock %}
<script src="{% static 'non/js/topdown-navigation.js' %}"></script>
</html>