{% extends 'non/base.html' %} {% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'NONapp/stylesheets/home.css' %}">
<title>Форма по добавлению статьи</title>
{% endblock %} {% block header %}
{% endblock %} {% block body %}
<main style="flex-direction: column;">

    <form method="post">
        {% csrf_token %}
        {{form.title}}<br>
        {{form.content}}<br>
        {{form.user}}<br>
        <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Добавить заметку</button>
    </form>

</main>
{% endblock %}