{% extends 'non/base.html' %}
{% block head %}
   {% load static %}
   <link rel="stylesheet" href="{% static 'non/stylesheets/home/style.css' %}">
{% endblock %}
{% block body %}
<header class="header full-height">
<div class="header__top">
   <div class="container">
      <div class="header__top-inner">
         <div class="header__logo logo">
            NotOnlyNotes
         </div>
         <div class="header__list">
            {% if user.is_authenticated %}
               <a class="header__link" href="{% url 'profile' %}">{{ user.username }}</a>
               <a class="header__link" href="{% url 'signout' %}">Выйти</a>
               <a class="header__link" href="{% url 'notes' %}">Заметки</a>
            {% else %}
               <a class="header__link" href="{% url 'login' %}">Вход</a>
               <a class="header__link" href="{% url 'register' %}">Регистрация</a>
            {% endif %}
         </div>
      </div>
   </div>
</div>
<div class="header__bottom">
   <div class="container">
      <div class="header__bottom-inner">
         <div class="header__bottom-content">
            <h1 class="header__header uppercase">
               Создавай,<br><span>Редактируй,</span><br><span>Сохраняй.</span>
            </h1>
            <p class="header__descr">Выйди на новый уровень продуктивности и творчества, создавая, редактируя и сохраняя заметки.</p>
         </div>
         <div class="header__bottom-img">
            <img src="{% static 'non/img/home/hero-img.png' %}" alt="">
         </div>
      </div>
   </div>
</div>
</header>
<main class="main">
<section class="functional full-height">
   <div class="container">
      <div class="functional__inner">
         <h2 class="functional__header" id="functionality">Функционал</h2>
         <p class="functional__descr">Мы разработали удобный и иновационый функционал, чтобы сделать вашу работу с заметками удобнее, чем прежде.</p>
         <ul class="functional__list">
            <li class="functional__el">
               <a class="functional__link link" href="#">Текст</a>
               <p class="functional__el-descr functional__el-descr--hidden">
                  Создайте идеальный почерк, используя разнообразие шрифтов и всю гамму цветовой палитры.
               </p>
            </li>
            <li class="functional__el">
               <a class="functional__link link" href="#">Чек-лист</a>
               <p class="functional__el-descr functional__el-descr--hidden">
                  Отслеживайте прогресс выполнения задач с помощью встраеваемых чек-листов.
               </p>
            </li>
            <li class="functional__el">
               <a class="functional__link link" href="#">Аудио</a>
               <p class="functional__el-descr functional__el-descr--hidden">
                  Записывайте важные аудио-дорожки и проигрывайте их в любое время.
               </p>
            </li>
            <li class="functional__el">
               <a class="functional__link link" href="#">Фото</a>
               <p class="functional__el-descr functional__el-descr--hidden">
                  Сделайте свои заметки более разнообразными, вставляя в них изображения.
               </p>
            </li>
            <li class="functional__el">
               <a class="functional__link link" href="#">Файл</a>
               <p class="functional__el-descr functional__el-descr--hidden">
                  Прикрепляйте любые файлы к своим заметкам.
               </p>
            </li>
            <li class="functional__el">
               <a class="functional__link link" href="#">Рисунок</a>
               <p class="functional__el-descr functional__el-descr--hidden">
                  Воплощайте свои идеи, используя функцию рукописного ввода.
               </p>
            </li>
         </ul>
         <div class="functional__showing">
            <img class="functional__showing-img" src="{% static 'non/img/home/functional-img-text.png' %}" alt="Show font options">
            <div class="functional__showing-descr">Создайте идеальный почерк, используя разнообразие шрифтов и цветовой палитры.</div>
         </div>
      </div>
   </div>
</section>
</main>
{% endblock %}