{% extends 'non/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
   <link rel="stylesheet" href="{% static 'non/stylesheets/notes/style.css' %}?version=34">
{% endblock%}

{% block body %}
<div class="content-wrapper">
   <aside class="aside">
         <div class="aside__inner">
            <div class="aside__logo logo">
               <a class="aside__link" href="{% url 'notes' %}">NotOnlyNotes</a>
            </div>
            <ul class="aside__list aside__list--small">
               <li class="aside__el aside__el--anim">
                  <a class="aside__link" href="{% url 'notes' %}">
                     <img class="aside__link-icon" src="{% static 'non/img/notes/notes.svg' %}" alt="">
                     <span>Все заметки</span>
                  </a>
               </li>
               <li class="aside__el aside__el--anim">
                  <a class="aside__link" href="{% url 'profile' %}">
                     <img class="aside__link-icon" src="{% static 'non/img/notes/settings.svg' %}" alt="">
                     <span>Настройки</span>
                  </a>
               </li>
            </ul>
               <a href="{% url 'profile' %}" class="aside__account-block">
                  <img class="aside__avatar" src="{{ user.profile.image.url }}" alt="Avatar image" height="90">
                  <div class="aside__account-block-content">
                     <h3 class="aside__name"> {{ user.username }} </h3>
                     <p class="aside__descr"> {{ user.profile.description }} </p>
                  </div>
               </a>
            </a>
         </div>
   </aside>
   <main class="main">
      <section class="hero">
         <div class="container notes-container">
            <div class="hero__inner">
               <div class="hero__content">
                  <div class="hero__top">
                     <div class="hero__header-block">
                        <h1 class="hero__header">Все заметки</h1>
                        <span class="hero__descr"><output class="hero__counter">{{ notes.count }}</output> шт.</span>
                     </div>
                     <ul class="hero__func-list">
                        <li class="hero__func-el">
                           <form action="{% url 'create_note' %}" method="post">
                              {% csrf_token %}
                              <button class="hero__btn hero__btn--add btn" type="submit"><img class="hero__btn-img" src="{% static 'non/img/notes/add.svg' %}" alt=""></button>
                           </form>
                        </li>
                        <li class="hero__func-el">
                           <form class="hero__del-block" action="{% url 'search_notes' %}" method="get">
                              <input name="q" type="text" placeholder="Поиск по заметкам">
                              <button class="hero__btn btn"><img class="hero__btn-img" src="{% static 'non/img/notes/search.svg' %}" alt=""></button>
                           </form>
                        </li>
                        <li class="hero__func-el">
                            <a class="header__link" href="{% url 'signout' %}">Выйти</a>
                        </li>
                     </ul>
                  </div>
                  <ul class="hero__list">
                     <li class="hero__el"><a class="hero__link" href="#"></a></li>
                     <li class="hero__el"><a class="hero__link" href="#"></a></li>
                     <li class="hero__el"><a class="hero__link" href="#"></a></li>
                  </ul>
               </div>
               <div class="hero__notes">
                  <ul class="hero__notes-list">
                     {% for note in notes %}
                     <li class="hero__notes-el" onclick="openNote(this)">
                        
                         <div class="delete_note_wrapper" style="display: block">
                            <form action="{% url 'delete_note' note.id %}" method="post">
                                {% csrf_token %}
                                <button class="hero__del-note-btn hero__util-el--hover btn" type="submit">
                                   <img src="{% static 'non/img/notes/trash.svg' %}" alt="">
                                </button>
                             </form>
                          </div>
                          <div class="hero__util">
                             <ul class="hero__util-list">
                                <li class="hero__util-el hero__util-el--arrow">
                                   <select class="hero__util-select" name="choose font">
                                      <option value="montserrat">Montserrat</option>
                                      <option value="sans-serif">Sans-serif</option>
                                      <option value="open-sans">Open-sans</option>
                                      <option value="times">Times</option>
                                      <option value="times-new-roman">Times New Roman</option>
                                    </select>                                     
                                </li>
                                <li class="hero__util-el hero__util-el--arrow">
                                   <select class="hero__util-select hero__util-select--size" name="choose font-size">
                                      <option value="16">16</option>
                                      <option value="18">18</option>
                                      <option value="22">22</option>
                                      <option value="24">24</option>
                                      <option value="26">26</option>
                                      <option value="28">28</option>
                                      <option value="30">30</option>
                                      <option value="32">32</option>
                                      <option value="34">34</option>
                                      <option value="36">36</option>
                                    </select>                                     
                                </li>
                                <li class="hero__util-el hero__util-el--hover">
                                   <button class="hero__util-btn btn">
                                      <img class="hero__util-img" src="{% static 'non/img/notes/bold.svg' %}" alt="">
                                   </button>
                                </li>
                                <li class="hero__util-el hero__util-el--hover">
                                   <button class="hero__util-btn btn">
                                      <img class="hero__util-img" src="{% static 'non/img/notes/underline.svg' %}" alt="">
                                   </button>
                                </li>
                                <li class="hero__util-el hero__util-el--hover">
                                   <button class="hero__util-btn btn">
                                      <img class="hero__util-img" src="{% static 'non/img/notes/italic.svg' %}" alt="">
                                   </button>
                                </li>
                                <li class="hero__util-el hero__util-el--hover">
                                   <button class="hero__util-btn btn">
                                      <img class="hero__util-img" src="{% static 'non/img/notes/center.svg' %}" alt="">
                                   </button>
                                </li>
                                <li class="hero__util-el hero__util-el--hover">
                                   <button class="hero__util-btn btn">
                                      <img class="hero__util-img" src="{% static 'non/img/notes/left.svg' %}" alt="">
                                   </button>
                                </li>
                                <li class="hero__util-el hero__util-el--hover">
                                   <button class="hero__util-btn btn">
                                      <img class="hero__util-img" src="{% static 'non/img/notes/stretch.svg' %}" alt="">
                                   </button>
                                </li>
                                <li class="hero__util-el hero__util-el--hover">
                                   <button class="hero__util-btn btn">
                                      <img class="hero__util-img" src="{% static 'non/img/notes/right.svg' %}" alt="">
                                   </button>
                                </li>
                                <li class="hero__util-el hero__util-el--hover">
                                   <button class="hero__util-btn btn">
                                      <img class="hero__util-img" src="{% static 'non/img/notes/list.svg' %}" alt="">
                                   </button>
                                </li>
                                <li class="hero__util-el hero__util-el--hover">
                                   <button class="hero__util-btn btn">
                                      <img class="hero__util-img" src="{% static 'non/img/notes/theme.svg' %}" alt="">
                                   </button>
                                </li>
                                <li class="hero__util-el hero__util-el--hover btn">
                                   <button class="hero__util-btn btn">
                                      <img class="hero__util-img" src="{% static 'non/img/notes/goals.svg' %}" alt="">
                                   </button>
                                </li>
                                <li class="hero__util-el hero__util-el--close hero__util-el--hover">
                                   <button class="hero__util-btn btn">
                                      <img class="hero__util-img" src="{% static 'non/img/notes/close.svg' %}" alt="">
                                   </button>
                                </li>
                             </ul>
                          </div>
						<form method="post" class="edit_note-form" id="note-{{note.id}}">
							{% csrf_token %}
							<input name="title" class="hero__notes-header" value="{{ note.title }}" placeholder="Название заметки" readonly/> 
							<textarea
                                name="content" class="hero__notes-descr textarea" placeholder="Текст заметки"
                                readonly>{{ note.content }}</textarea>
							<button class="hero__save-note btn" name="update_note" type="submit" value="{{ note.id }}">Сохранить</button>
						</form> 
                        <span class="hero__notes-date">{{ note.timestampLastModified }}</span>
					</li>
					{% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      </section>
   </main>
</div>
{% block afterscripts %}
    <script src="{% static 'non/js/notes/openNotes.js'%}?version=430"></script>
    <script src="{% static 'non/js/notes/changeAside.js'%}"></script>
    <script src="{% static 'non/js/notes/textareaHeight.js'%}"></script>
    {% if open_note %}
        <script>
            openNote(document.querySelector('#note-{{open_note}}').parentNode)
        </script>
    {% endif %}    
{% endblock %}
{% endblock %}
