<aside class="aside">
    <div class="container notes-container">
       <div class="aside__inner">
          <div class="aside__logo logo">
             <img class="logo__img" src="img/logo.svg" alt="Logo Not Only Notes">
          </div>
          <ul class="aside__list">
             <li class="aside__el aside__el--anim">
                <a class="aside__link" href="#">
                   <img class="aside__link-icon" src="img/notes.svg" alt="">
                   <span>Все заметки</span>
                </a>
             </li>
             <li class="aside__el aside__el--anim">
                <a class="aside__link" href="#">
                   <img class="aside__link-icon" src="img/folder.svg" alt="">
                   <span>Папки</span>
                </a>
             </li>
             <li class="aside__el aside__el--anim">
                <a class="aside__link" href="#">
                   <img class="aside__link-icon" src="img/main.svg" alt="">
                   <span>Главная</span>
                </a>
             </li>
             <li class="aside__el aside__el--anim">
                <a class="aside__link" href="#">
                   <img class="aside__link-icon" src="img/setting.svg" alt="">
                   <span>Настройки</span>
                </a>
             </li>
             <li class="aside__el aside__el--anim">
                <a class="aside__link" href="#">
                   <img class="aside__link-icon" src="img/shop.svg" alt="">
                   <span>Магазин</span>
                </a>
             </li>
          </ul>
          <div class="aside__account-block">
             <img class="aside__avatar" src="img/avatar.png" alt="Avatar image">
             <div class="aside__account-block-content">
                <h3 class="aside__name">Иван Иванов</h3>
                <p class="aside__descr">Некое описание профиля</p>
             </div>
          </div>
       </div>
    </div>
 </aside>